@import url('../fonts/uicons/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('../fonts/uicons/uicons-thin-rounded/css/uicons-thin-rounded.css');

@import url('../fonts/uicons/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('../fonts/uicons/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('../fonts/uicons/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('../fonts/uicons/uicons-solid-rounded/css/uicons-solid-rounded.css');

@import url('../fonts/uicons/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('../fonts/uicons/uicons-bold-rounded/css/uicons-bold-rounded.css');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Specifies the range of weights available in the variable font */
    font-style: normal;
}
.font-open-sans {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.font-source-sans {
    font-family: 'Source Sans 3', Helvetica, sans-serif;
}

.quote {
    font-family: 'Caveat', 'Corsiva', sans-serif;
}

.list-checkmark {
    list-style-image: url('../img/checkmark.png');
    padding-left: 1.5em;
}

.list-checkmark li {
    margin-top: 12px;
    margin-bottom: 12px;
}